

html,
body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(21, 20, 24);

    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    max-height: 100% !important;
}

#container{
    height: 100%;
    width: 100%;
    display: none;
    position: relative;
}

#header{
    height: 50px;
    width: 100%;
    display: block;
    position: relative;
}

#gap-header_appContainer{
    height: 1px;
    width: 100%;
    background-color: rgb(34, 34, 34);
    display: block;
}

#appContainer{
    width: 100%;
    display: block;
}

#side-bar{
    height: 100%;
    width: 320px;
    float: left;
    position: relative;
    outline-color: rgb(34, 34, 34);
    outline-width: 1px;
    outline-style: solid;
}

#holder{
    height: 100%;
    float: right;
}

#top-holder,
#bottom-holder{
    min-height: 30px !important;
    display: block;
}

#top-appContainer,
#bottom-appContainer{
    height: 100%;
    width: 100%;
    background-color: rgb(21, 20, 24);
    min-height: 30px !important;
    display: block;
    box-sizing: border-box;
}

#bottom-appContainer{position: relative;}

#top-appContainer_flex{
    display: flex;
    flex-direction: row;
    height: 100%;
}

#frame{
    min-width: 142px;
}
#manager{min-width: 0 !important;}

#frame{position: relative;}

#bottom-appContainer_flex{
    display: flex;
    flex-direction: row;
    height: 100%;
    min-height: 30px !important;
}

#htmlHolder,
#cssHolder,
#jsHolder{
    min-width: 100px;
    width: 33.3333333%;
    min-height: 30px !important;
}

.Containerheader{
    height: 30px;
    width: 100%;
    display: block;
    background-color: rgb(18, 17, 20);
}

.headerWrap{
    height: 100%;
    width: 100%;
    background-color: inherit;
    position: relative;
}

#managerText,
#colorPickerText,
#htmlText,
#cssText,
#jsText{
    font-family: Lato;
    font-size: 20px;
    vertical-align: middle;
    padding-left: 20px;
}

#managerText, #colorPickerText{color: white;}
#htmlText{color: red;}
#cssText{color: blue;}
#jsText{color: yellow;}

.frameIcons{
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* -ms-transform: translate(-50%, -50%); */
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#homeBtn{margin-left: 10px;}
#reloadBtn{margin-left: 50px;}
#searchBtn{margin-left: 90px;}

#url-bar{
    height: 25px;
    width: 400px !important;
    border-radius: 20px;
    border-color: transparent;
    background-color: rgba(0, 21, 125, 0.674);
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 350px;
    position: absolute;
    color: white;
    font-family: Lato;
    text-align: center;
}

#frameCover{
    width: 100%;
    display: block;
    position: relative;
    background-color: rgb(21, 20, 24);
}

#logo_frameCover{
    max-width: 220px;
    width: 80%;
    margin-top: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#previewWindow{
    background-color: white;
    display: none;
}

#managerContainer{
    width: 100%;
}

#manager-container{
    display: inline-block;
    min-height: none;
    margin: 30px;
    background-color: rgb(21, 20, 24);
    position: fixed;
}

#project-title{
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: blue;
    color: white;
    font-family: Lato;
    background-color: rgb(21, 20, 24);
    outline: none;
    width: 200px;
    font-size: 15px;
}

#projectDescription{
    background-color: transparent;
    color: white;
    font-family: Lato;
    resize: none;
    outline: none;
    border-width: 2px;
    border-style: solid;
    border-color: blue;
}

#saveCode{
    height: 20px;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.codeContainer{
    width: 100%;
    background-color: rgb(21, 20, 24);
}

#privateScribble{
    color: black;
    font-weight: bold;
    font-family: Lato;
    font-size: 17px;
    background-color: rgb(251, 255, 0);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 20px;
    white-space: nowrap;
}

.editors{
    height: 100%;
    width: 100%;
    display: block;
}

#previewWindow{
    display: none;
    width: 100%;
    border: none;
    background-color: white;
}

#header-container{
    height: 100%;
    width: 100%;
    position: relative;
}

#logo_header-appContainer{
    height: 40px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    margin-left: 10px;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#connect_logo{
    height: 30px;
    right: 0;
    margin-right: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#dashContainer{
    margin: 20px;
    outline-style: solid;
    outline-color: blue;
    outline-width: 1px;
    width: 90%;
    height: 40%;
}

#dash-header{
    height: 30px;
    width: 100%;
    outline-offset: 0px;
    outline-style: solid;
    outline-width: 1px;
    outline-color: blue;
}

#dash-header-container{
    height: 100%;
    width: 100%;
    position: relative;
}

#dashboard_icon{
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#dash-container{
    width: 100%;
}

#dashboard-title{
    font-size: 15px;
    font-family: Lato;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 40px;
}

#dash-tools{
    height: 30%;
    width: 100%;
    display: block;
}

#dash-manager{
    height: 70%;
    width: 100%;
    display: block;
}

.dashTools{
    height: 20px;
    margin: 10px;
    display: inline-block;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#inspector_active,
#palette_active,
#gradient_active{
    display: none;
}

#devConsole{
    max-height: 225px;
    height: 25px;
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: rgb(14, 13, 15);
}

#console-header{
    height: 25px;
    width: 100%;
    position: relative;
}

#console-container{
    height: 119px;
    display: none;
    width: 100%;
    background-color: rgb(14, 13, 15);
    
    border-top-style: solid;
    border-top-color: white;
    border-top-width: 1px;
    position: relative;
}

#console-title{
    font-family: monospace;
    font-size: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    padding: 3px;
    outline-style: solid;
    outline-color: white;
    color: white;
    outline-width: 1px;
}

.console-resize{
    height: 18px;
    right: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#min_console{display: none;}



#frameCover_text{
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
}

#sidebar-footer{
    height: 30px;
    display: block;
    float: left;
    border-color: rgb(34, 34, 34);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-style: none;
    border-bottom-style: none;
    border-left-style: none;
    font-family: 'Samarkan';
    font-size: 20px;
    color: white;
    position: relative;
}

#footer{
    height: 30px;
    width: 100%;
    display: block;
    outline-style: solid;
    outline-width: 2px;
    outline-offset: -1px;
    outline-color: rgb(34, 34, 34);
}

#colorPickerContainer{
    display: none;
    width: 100%;
}